---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config/site';
import PageHero from '../components/PageHero.astro';
import RecentWriting from '../components/RecentWriting.astro';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <PageHero type="index" title="Hey, I'm Jamie!">
    <p class="description">
      I'm a software engineer and engineering leader. I've been making websites and products since 2010, and some of them have won&nbsp;awards!
    </p>
    <p class="description">
      All the content on this site is written by me, and not by AI.
    </p>
    <p class="links">
      <a class="link" href="/me/">About Me</a>
      <a
        class="link"
        href="https://jamiewarb.substack.com/"
        rel="noreferrer"
        target="_blank"
      >
        Email Newsletter
      </a>
    </p>
  </PageHero>

  <section class="home-section">
    <h2>Recent Writing</h2>
    <RecentWriting limit={5} />
  </section>

  <section class="home-section">
    <h2>Highlighted Projects</h2>
  </section>

</BaseLayout>

<style>
  @reference "../styles/global.css";

  .description {
    margin: 0 0 1.25rem;
    max-width: 600px;

    @variant md {
      font-size: 1.325rem;
    }
  }

  .links {
    display: flex;
    gap: 1rem;
  }

  .links .link {
    font-size: 1.125rem;
  }

  .home-section {
    margin-bottom: 4rem;
  }

  .home-section h2 {
    margin: 0 0 1.25rem;
    font-size: 1.875rem;
    line-height: 1.15;

    @variant md {
      font-size: 2.125rem;
    }
  }
</style>