---
import UtterancesComments from "./UtterancesComments.astro";
---

<section id="comments">
  <h2>Comments</h2>
  <UtterancesComments />
</section>

<style>
  section {
    border-top: 1px solid var(--content-border-color);
    margin-top: 1.5rem;
    scroll-margin-top: 2.5rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
</style>
