---
---

<main id="main-content" tabindex="-1" class="main-content">
  <slot />
</main>

<style>
  @reference "../styles/global.css";

  .main-content {
    padding-left: 1.5rem;
    max-width: calc(var(--content-width) + var(--sidebar-width));

    @variant lg {
      padding-left: 3.5rem;
      padding-right: 2rem;
      padding-top: 2rem;
    }
  }
</style>