---

---

<div class="main-wrapper sticky-footer">
  <slot />
</div>

<style>
  @reference "../styles/global.css";

  .main-wrapper {
    background-color: var(--bg-color);
    min-height: 100vh;
    padding-left: var(--wrapper-padding);
    padding-right: var(--wrapper-padding);
    padding-top: var(--navbar-height);

    @variant lg {
      padding-top: 0;
    }
  }
</style>
