---
---

<div class="main-wrapper">
  <slot />
</div>

<style>
  .main-wrapper {
    min-height: 100vh;
    padding-left: var(--wrapper-padding);
    padding-right: var(--wrapper-padding);
  }
</style>