---
interface Props {
  type?: 'index';
  title: string;
}

const { type, title } = Astro.props;
---

<header class:list={['page-hero', type]}>
  <div class="wrapper">
    <div>
      <slot name="eyebrow" />
      <h1>{title}</h1>
      <slot />
    </div>
    <div class="image-container">
      <slot name="image" />
    </div>
  </div>
</header>

<style>
  @reference "../styles/global.css";

  .page-hero {
    margin-bottom: 1.5rem;
  }

  .page-hero.index {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  h1 {
    font-size: 3.125rem;
    margin-bottom: 1.5rem;
  }
</style>
