---
import LikeButton from './likes/LikeButton.tsx';
import { cn } from '../lib/likes/cn';

interface Props {
  postId: string;
  initialCount?: number;
  className?: string;
}

const { postId, initialCount = 0, className } = Astro.props;
---

<div class={cn(className, 'post-heart-counter')}>
  <LikeButton client:load postId={postId} initialCount={initialCount} />
</div>

<style>
  .post-heart-counter {
    width: fit-content;
  }
</style>
