---
import LikeButton from './likes/LikeButton.tsx';
import { isLikesEnabled } from '../lib/likes/config';

interface Props {
  postId: string;
  initialCount?: number;
}

const { postId, initialCount = 0 } = Astro.props;
const likesEnabled = isLikesEnabled();
---

<div class="post-heart-counter">
  <LikeButton client:load postId={postId} initialCount={initialCount} enabled={likesEnabled} />
</div>

<style>
  .post-heart-counter {
    width: fit-content;
  }
</style>
